.sidebar{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 30%;
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    .sidebar{
        width: 100%;
        order: 2;
    }
  }