.footer{
    background-image: url("../../images/footer/footer-bg.png") ;
    width: 100%;
    box-sizing: border-box;
}
.container{
    width: min(1280px - 40px, 100%);
    margin-inline: auto;
    display: flex;
    gap: calc(var(--offset-base-size) * 7);
}
.column{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    padding-left:  calc(var(--offset-base-size) * 5);
}
.info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 413px) {
    .footer{
        flex-direction: column;
    }
   .container{
    flex-direction: column;
   }
   .column{
    max-width: 200px;
    
   }
    .info span{
        font-size: 12px;
    }
}