.inputCastom {
    position: relative;
    width: 100%;
}

.inputCastom::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
    margin-right: 12px;
    width: 25px;
    height: 25px;
    background: url("../../images/search/search-icon.svg") no-repeat;
    background-size: cover;
}

input {
    width: 100%;
    text-transform: lowercase;
    box-sizing: border-box;
    padding: 12px;
    border: 1px solid  #e7e7e7;
}

@media (max-width: 1024px) {
    .inputCastom{
        display: none;
    }
}