.news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 256px;
    gap: calc(var(--offset-base-size) * 5);
}
.wrapper{
    margin-bottom: 80px;
}
.link{
    text-decoration: none;
    display: flex;
    float: right;
    transition: margin-right .3s;
    align-items: center;
}

.link:hover {
   margin-right: 10px;
}


@media (max-width: 730px) {
    .news{
        grid-auto-rows: 200px;
        gap: calc(var(--offset-base-size) * 3);
    }

    .wrapper{
        margin-bottom: 0;
    }
}

@media (max-width: 530px) {
    .news{
        grid-template-columns: 1fr;
        grid-auto-rows: 250px;

    }
}