.news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 256px;
    gap: calc(var(--offset-base-size) * 5);
}
.link{
    text-decoration: none;
    display: flex;
    float: right;
    transition: margin-right .3s;
    align-items: center;
}

.link:hover {
   margin-right: 10px;
}